<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workload">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".manager_history"></activity>
        <activity android:name=".emptask_history"></activity>
        <activity android:name=".employee_mainscreen"></activity>
        <activity android:name=".employee_tasks"></activity>
        <activity android:name=".employee_performance" />
        <activity android:name=".employee_profile" />
        <activity android:name=".codeVerifier" />
        <activity android:name=".signup" />
        <activity android:name=".login" />
        <activity android:name=".manager_task_creation"></activity>
        <activity android:name=".manager_task_status" />
        <activity android:name=".employee_list" />
        <activity android:name=".manager_tasklist" />
        <activity android:name=".manager_mainscreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>